# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#El archivo .env es utilizado para almacenar variables de entorno en una aplicación.
# Estas variables pueden contener información sensible como contraseñas, claves de API u otras 
#configuraciones específicas del entorno. Al utilizar un archivo .env, se puede separar la configuración 
#de la aplicación del código fuente, lo que facilita la gestión de diferentes entornos (desarrollo, pruebas, producción)
# sin necesidad de modificar el código.
.env

/server/package-lock.json
/server/package.json

package-lock.json
package.json