section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}

#carousel-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#section-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    max-width: 100%;
    height: auto;
    transition: transform 0.5s ease; 
}

#section-center img{
    width: 600px;
    height: 400px;
}


#section-center article div h2{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#section-center article div p{
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

article{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#buttons {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-button-blog{
    background-color: #161616;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff; 
    transform: translateY(-50%);
    height: 80px;
    top: 34%;
    position: relative;    
}
