:root{
    --font-size: 16px;
    --letter-color: black;
    --background-color:aliceblue;
}

#root{
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    color: #fff;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 76px;
}

nav a {
    color: var(--letter-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

nav ul li a:hover {
    cursor: pointer;
    transition: border-color 0.5s;
    border-radius: 8px;
    border: 1px solid transparent;
}

.menu-icon {
    display: none;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
    width: 100%;
    position: sticky;
    z-index: 1000;
    top:0;
}

header h1{
    color: var(--letter-color);
    text-align: left;
    height: auto;
    width: 158px;
    margin:0;
}

header div{
    display: flex;
    align-items: center;
    gap: 29px;
}

header div input{
    width: 260px;
    height: 20px;
    font-size: 1rem;
    margin-top: 11px;
}

#state-product{
    font-size: 1rem;
    height: 40px;
}

#search{
    font-size: 1rem;
    width: 377px;
    height: 23px;
    margin-top: 8px;
}

#select-position{
    display: flex;
    align-items: center;
    justify-content: center;
}

.max-width{
    max-width: 1200px;
    margin:0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account {
    background-color: #09f;
    transition: ease-in-out .3s;
}

#account-empty {
    color: #fff;
    text-decoration: none;
}

.account:hover {
    transform: scale(1.1);
}

.account a:hover::after {
    content: none;
}

.account-2{
    background-color: #09f;
    transition: ease-in-out .3s;
    padding: 0;
    padding-inline: 3px;
    width: 84px;
}

.account-2:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 878px) {

    header{
        position: relative;
    }

    .max-width{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .max-width div{
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        height: auto;
        padding-bottom: 11px;
    }

    nav ul {
        position: absolute;
        left: 0;
        background-color:var(--background-color); 
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
    }

    
    nav ul.open {
        overflow-y: none;
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(0);
        max-height: 800px;
        visibility: visible;
        opacity: 1;
        z-index: 200;
        top: -10px;
    }
    
    nav ul.open li {
        display: block;
        text-align: center;
       
    }

    #last-menu-opne{
        padding-bottom: 40px;
    }

    nav ul.open li a:hover {
        cursor: pointer;
        transition: border-color 0.5s;
        border-radius: 8px;
        border: 1px solid transparent;
    }

    .menu-icon {
        display: block;
    }

    .cart-button {
        position: absolute;
        top: 6px;
        right: 60px;
    }

    .account{
        position: absolute;
        top: 6px;
        left: 32px;
    }

    .account-2{
        position: absolute;
        left:  42px;
    }
}

@media screen and (max-width: 481px) {
    .cart-button {
        position: absolute;
        top: 216px;
        right: 32px;
    }

    .account-2{
        top: 211px;
        position: absolute;
    }

    header div input{
        margin: 0;
        top: -26px;
        position: relative;
    }

    .account-empty{
        position: absolute;
        top: 216px;
    }

    .account {
        display: none;
    }
}

@media screen and (max-width: 341px){
    .menu-icon {
        display: block;
        position: relative;
        right: 0%;
    }

}

@media screen and (max-width: 381px) {
    .menu-icon {
        top: -73px;
        position: relative;
    }
    
}


/*HEADER EN TODOSPRODUCTOS*/

/* Estilos específicos para el header en la página de productos */
@media screen and (max-width: 877px) {
    .header-products {
        position: relative;
        height: 540px;
    }
}

@media screen and (max-width: 473px){
    .header-products .cart-button {
        align-items: center;
        background: #09f;
        border-radius: 9999px;
        cursor: pointer;
        display: flex;
        height: 32px;
        justify-content: center;
        padding: 4px;
        transition: all .3s ease;
        width: 93px;
        z-index: 100;
        top: 13px;
    }

    .header-products .account {
        position: absolute;
        top: 6px;
        left: 32px;
        display: flex;
        width: auto;
    }
}

@media screen and (max-width: 473px){
    .header-products .cart-button{
        position: absolute;
        top: 6px;
        right: 32px;
    }
}

@media screen and (max-width: 341px) {
    .header-products .menu-icon {
        display: block;
        position: relative;
        right: 0%;
    }
}

/*HEADER EN FORO */

/* Estilos específicos para el header en la página de foro */
@media screen and (max-width: 481px) {
    .header-foro .cart-button {
        position: absolute;
        top: 216px;
        right: 32px;
    }
}

@media screen and (max-width: 412px) {
    .header-foro .account {
        display: none;
    }
}

@media screen and (max-width: 346px) {
    .header-foro .menu-icon {
        position: relative;
        top: -77px;
        display: block;
        right: 0%;
    }

    .header-foro .account-2 {
        top: 211px;
        position: absolute;
        left: 5%;
    }
}