#presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin: 0 0;
    position: relative;
    top: 8px;
    background-color: white;
}

#section-init-center{
    max-width: 93.75rem;
}

#images-init{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 93.75rem;
    gap: 50px;
    margin-block: 3%;
}

#presentation h2 {
    transition: font-size 0.5s ease-in-out; /* Define la transición suave */
    text-decoration: none; 
}

#presentation h2:hover {
    font-size: xx-large; /* Tamaño de fuente al pasar el cursor */
}


@media screen and (max-width: 1545px){
    #images-init{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width: 643px){
    #images-init{
        display: grid;
        grid-template-columns: 1fr;
    }
}
