/*estilos globales*/
body {
    overflow-x: hidden;
}

#presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin: 0 0;
    position: relative;
    top: 8px;
}

#images-init{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
    margin-block: 3%;
}

#section-init{
    width: 100%;  
}


#div-carusell{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    transition: transform 0.5s ease-in-out;
    margin: 0 0;
    margin-left: 5%; 
}

.slide {
    flex: 0 0 auto;
}

.slide a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slide a {
    position: relative;
    text-decoration: none;
}

.slide a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: currentColor;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.slide a:hover::after {
    transform: scaleX(1);
}
    

#carusell-article {
    position: relative; /* nuevo */
}

.carousel-button {
    background-color: #161616;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff; /* color del texto */
    position: absolute; /* nuevo */
    top: 50%; /* nuevo */
    transform: translateY(-50%); /* nuevo */
}

.carousel-button:hover {
    background-color: #161616;
}

.carousel-button:first-child {
    left: 0; /* nuevo */
}

.carousel-button:last-child {
    right: 0px; /* nuevo */
}

#buttons{
    width: 100%;
    position: absolute; /* nuevo */
    top: -29px; /* nuevo */
    left: 0; /* nuevo */
    height: 100%; /* nuevo */
}

.prueba{
    width: 140%;
    height: auto;
}

@media screen and (max-width: 1405px) {
    #div-carusell {
        justify-content: flex-end;   
    }
}

/*tengo que arreglar centrado de esta seccion de carrusell
Arreglar botones en pantallas muy grandes
comprobar los comentarios
*/