#week-recomended-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin: 0 0;
    position: relative;
    top: 8px;
    padding-bottom: 5%;
}

#week-recomended-container-center{
    max-width: 1500px;
    overflow: hidden;
    background-color: white;
}

#week-recomended-container-center h1{
    text-align: center;
    padding-block: 4%;
}

#div-carusell-week-recomended{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    transition: transform 0.5s ease-in-out;
    margin: 0 0;
    margin-left: 80%;
}

.slide-week-recomended {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    background: #111;
    padding: 2rem;
    border-radius: 16px;
}

.link-to-product {
    color: #ffffff;
    cursor: pointer;
    z-index: 9999;
    position: relative;
    pointer-events: auto;
}

.slide-week-recomended a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: currentColor;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    pointer-events: none;
}

.slide-week-recomended a:hover::after {
    transform: scaleX(1);
}

#carusell-article-week-recomended {
    position: relative; 
    overflow: hidden;
}

.carousel-button-week-recomended {
    background-color: #161616;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
}

.carousel-button:hover {
    background-color: #161616;
}

.carousel-button-week-recomended:first-child {
    left: 0;
}

.carousel-button-week-recomended:last-child {
    right: 0;
}

#buttons{
    width: 100%;
    position: absolute; /* nuevo */
    top: -29px; /* nuevo */
    left: 0; /* nuevo */
    height: 100%; /* nuevo */
}

.img-week-recomended{
    width: 180px;
    height: auto;
    border-radius: 10px;
}

.legend{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -18%;
    color: #ffffff;
    font-weight: bold;
}

.slide-week-recomended span{
    font-weight: bold;
    color: #ffffff;
}