#week-recomended-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin: 0 0;
    position: relative;
    top: 8px;
    padding-bottom: 5%;
}

#week-recomended-container-center{
    max-width: 1024px;
    overflow: hidden;
    background-color: white;
}

#week-recomended-container-center h1{
    text-align: center;
    padding-block: 4%;
}

#div-carusell-week-recomended{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 60px;
    transition: transform 0.5s ease-in-out;
    margin: 0 0;
}

.slide-week-recomended {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    background: #111;
    padding: 2rem;
    border-radius: 16px;
}

.link-to-product {
    color: #ffffff;
    cursor: pointer;
    z-index: 1000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel-button-week-recomended {
    background-color: #161616;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
}


.carousel-button-week-recomended:last-child {
    right: 0;
}

#buttons{
    width: 100%;
    position: relative; 
    top: -280px; 
    height: 100%; 
}

.img-week-recomended{
    width: 180px;
    height: auto;
    border-radius: 10px;
}

.legend{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -18%;
    color: #ffffff;
    font-weight: bold;
}

.slide-week-recomended span{
    font-weight: bold;
    color: #ffffff;
}

@media screen and (max-width: 1024px){
    #week-recomended-container-center{
        max-width: 90%;
    }

    #div-carusell-week-recomended{
        gap: 30px;
    }

    .slide-week-recomended {
        padding: 1rem;
    }

    .img-week-recomended{
        width: 150px;
    }

    .carousel-button-week-recomended {
        padding: 5px 10px;
    }
}

@media screen and (max-width: 768px){
    #week-recomended-container-center h1{
        padding-block: 8%;
    }

    #div-carusell-week-recomended{
        gap: 20px;
    }

    .img-week-recomended{
        width: 120px;
    }

    .legend{
        margin-right: -10%;
    }
}

@media screen and (max-width: 480px){
    #week-recomended-container-center h1{
        padding-block: 10%;
    }

    #div-carusell-week-recomended{
        gap: 10px;
    }

    .img-week-recomended{
        width: 100px;
    }

    .legend{
        margin-right: -5%;
    }
}